<div id="squatch-panel">
  {{> panel_summary}}
  {{> referrals options=(variables-object 'widget.REFERRER_WIDGET.content.widgetCustomization.referralsPanel')}}
  {{> attribution}}
</div>

{{> actions}}