<div class="squatch-register">

  {{text}}

  <div class="form">
    <input id="squatch-user-firstname" class="form-control input-field required-{{firstName}}" placeholder="First Name">
    <input id="squatch-user-lastname" class="form-control input-field required-{{lastName}}" placeholder="Last Name">
    <input id="squatch-user-email" class="form-control input-field" placeholder="Email (Required)"/>
    <button id="squatch-send-email" class="btn btn-primary">Continue</button>
  </div>
</div>
