<h2 class="squatch-panel-title">
  Rewards Dashboard
</h2>

<div class="squatch-stats">
  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{math convertedReferralsCount '+' unconvertedReferralsCount}}</div>

    <span class="squatch-stats-description">Friends Referred</span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title text-green">{{totalRewardsEarnedCount}}</div>

    <span class="squatch-stats-description">Rewards Earned</span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{totalRewardsPendingCount}}</div>

    <span class="squatch-stats-description">Rewards Pending</span>
  </div>
</div>
