<h2 class="squatch-panel-title">
  Rewards Dashboard
</h2>

<div class="squatch-stats">
  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{referralsLength}}</div>

    <span class="squatch-stats-description">Friends Referred</span>
  </div>

  <!-- <div class="squatch-stats-item">
    <div class="squatch-stats-title text-green">
      {{#if dollarCreditRewardBalance.totalAssignedCredit}}
        ${{math '(' dollarCreditRewardBalance.totalAssignedCredit '-' dollarCreditRewardBalance.totalRedeemedCredit ') / 100'}}
      {{else}}
        $0
      {{/if}}
    </div>

    <span class="squatch-stats-description">Rewards Used</span>
  </div>

  <div class="squatch-stats-item">
    <div class="squatch-stats-title">{{referralsLength}}</div>

    <span class="squatch-stats-description">Rewards Pending</span>
  </div> -->
</div>
